.pokebola {
  width: 70px;
  
}
.title {
    width: 268px;
}
.contentCard {
  background-color: rgba(109, 174, 219, 0.5);
  text-align: center;
  align-content: center;
  padding: 150px;
  border-radius: 15px;

  margin-right: 345px;
  margin-left: 345px;
}
